
<div class="d-flex flex-column">
    
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
      <div class="container text-center">
        
        <div>

        <a routerLink="/"><i class="fa fa-home"> &nbsp;Go to Home Page</i></a><br>
        <a href="#"><i class="fa fa-facebook-official"> &nbsp;Contact us on Facebook</i></a><br>
        <a href="#"><i class="fa fa-instagram"> &nbsp;Follow us on Instragram</i></a>
        </div>
        <small style="float:right">Copyright&copy; . &nbsp;All rights reserved<br> 
        </small>
      </div>
      
  
         
 
           
    </footer>
  </div>


























