footer{

  

    width:100%;
 
   /* display:flex; */
    background-color: rgba(0,0,0,.6);
    color: white;

    position: relative;
    overflow:auto; 
    bottom:0;
    margin-top: 243px;


  
   

    }

footer a{

        color:white;
    }



.font-awesome{

  

  
   padding-left:20px;;
  
}


 .font-awesome2{

   
    padding-left:400px;
   
  
}