<nav class="navbar navbar-expand-md navbar-light bg-light ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse order-0 dual-collapse2" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <div>

        <li>
          <a href="#"> <img src="../assets/images/finalLogo.jpg" class="logo" style="width:50px;height:50px"></a>
        </li>

      </div>

    </ul>
  </div>









  <div class="collapse navbar-collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">


      <li >

       <button class="btn btn-primary"> <a routerLink="/matches" >Matches</a></button>

      </li>



      <li>

        <button class="btn btn-primary"><a routerLink="/prediction">Prediction</a></button>
      </li>
    </ul>
  </div>
</nav>









<div id="main">


  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4" style="background-color: rgb(43, 43, 173);color:white;text-align: center;">
      <h1 class="display-3">Welcome to the AFL Website</h1>
      <p class="lead">Scroll down to see the leader board and other related news</p>

    </header>


    <div class="container-fluid" id="first">
      <h1><u>Leader Board</u></h1>

      <p class="lead"><u>All 18 teams and their points</u></p>
      <div class="row">
        <div class="col-sm-4">
          <div id="first">
            <table cellpadding="0" class='table'>
              <tr style="text-align: center;">


               
                <th>Team</th>
                <th>Wins</th>
              </tr>
              <tr *ngFor="let lad of ladder" class="rows">


                <td>{{lad.team}}</td>
                <td>{{lad.wins}}</td>
              </tr>
            </table>
          </div>
        </div>



        <div class="col-sm-4" id="second" >
          <div >
            <div style="text-align:center;height:80%;width:80%" >

              <img src="../../assets/images/firstFooty.jpg" style="width:170px;height:170px"><br>

              A match between Scotch and Melbourne Grammar schools was held on August 7, 1858. 
              This is generally considered the first game of what we now call AFL (Australian Rules Football), 
              though the rules for this match would have been rather crude.<hr><br>

              
             
            </div>
            <div style="text-align:center;height:80%;width:80%"><br>

              <img src="../../assets/images/carlton.jpg" style="width:85px;height:85px">
              <img src='../../assets/images/essendon.png' style="width:85px;height:85px"> <br>

              Essendon and Carlton have won the most VFL/AFL premierships, with a total of 16 each. Of the teams currently competing in the Australian Football League, only Fremantle, Gold Coast and Greater Western Sydney (three of the competition's four newest clubs) are yet to win a premiership.<hr>

              
              
            </div>
            <div>

            
            </div>

            <div>

              
            </div>

          </div>
        </div>



        <div class="col-sm-4" id="second">
          <div >

            <div>
              <h1>Interesting Facts about AFL</h1>
            </div>
            <div>
              Amazingly, 14 of Geelong’s 46 listed players have first names starting with the letter J <hr>
              

             
            </div>
            <div>
              <br>
              When the game first started in 1858, no time limits existed for matches. The first team to score two goals was declared the winner.  <hr><br>

              
            </div>
            <div>
              <br>
              Think John is a common name? Think again. There is only one player currently on an AFL list with the first name of John. Port Adelaide’s John Butcher. <hr>

             
            </div>

            <div>

              <br>
              Geelong defender Harry Taylor correctly predicted that the 2010 AFL Grand Final between Collingwood and St. Kilda would end in a draw. <hr>

             
            </div>


            <div>

              <br>

              Australian Rules Football is played in over 80 countries, including Denmark, Sweden, America, Canada and South Africa.<hr>
             
             
            </div>

            <div>

              <br>

              In 1916, Fitzroy managed to win the wooden spoon and the Premiership in the same year. Only four clubs competed in 1916, due to World War I, with Fitzroy finishing fourth, or last, and then winning the three finals, to claim the premiership.<hr>
             
             
            </div>


            <div>

              <br>

              Michael Tuck has the most Premierships for an individual player with an amazing seven Premierships from 11 Grand Finals.<hr>
             
             
            </div>



          </div>
        </div>



      


  </div>



</div>