.halfNav{

    padding:10px;
    margin-left:10px;
    
    text-align: center;
    color:black;
    float:right;

}


table {
    counter-reset: rowNumber;
  }
  
.rows::before {
    display: table-cell;
    counter-increment: rowNumber;
    content: counter(rowNumber) ".";
  
    text-align: center;
  }



  


  #main{
    overflow: auto;
  }





