

<nav class="navbar navbar-expand-lg navbar-light ">
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <div>

          <li>
              <a href="#" > <img src="../assets/images/finalLogo.jpg" class="logo"></a>
          </li>

        </div>
       

        <div>
              <li class="nav-item active" >
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Home Page"><a class="nav-link" style="color:black;"routerLink="/">Home <span class="sr-only">(current)</span></a></span>
              </li>
        </div>

         <div> 
              <li class="nav-item">
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Live Scores"><a class="nav-link"style="color:black;" routerLink="/prediction">Prediction</a></span>
              </li>
      </div>

        <div class="dropdown" >
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Teams
          <span class="caret"></span>
          </button>


          <ul class="dropdown-menu" >
            <li *ngFor="let team of teams" (click)="onSelect(team)"><a>{{team.name}}  <img src="https://squiggle.com.au/{{team.logo}}" style="width:20px;height:20px;"></a><br></li>
           
       
           
          </ul>
        </div>

        
        
       
      </ul>
    
    </div>
  </nav>
<div  *ngIf="games">

    <div *ngFor="let team of teams">
      <h2 *ngIf="team.name==selectedTeam.name">Results of all the matches played by {{team.name}} <img src="https://squiggle.com.au/{{team.logo}}" style="width:50px;height:50px;"> </h2>
     
   </div>
    <app-team-details [games]="games" *ngIf="games" id="firstTable" ></app-team-details>
    
</div>

<div *ngIf="wins">

  <div *ngFor="let team of teams">
    <h2 *ngIf="team.name==selectedTeam.name">Venues where {{team.name}} <img src="https://squiggle.com.au/{{team.logo}}" style="width:50px;height:50px;"> has won this season so far  </h2>
   
 </div>
  <table class='table'>

    <tr>
      <th>Away Team</th>
      <th>Home Team</th>
      <th>Winning Venues</th>
      
    </tr>



  <tr *ngFor="let win of wins">
      <td>{{win.ateam}}</td>
      <td>{{win.hteam}}</td>
      <td>{{win.venue}}</td>


    </tr>


  </table>
      
    
  </div>


  <div *ngIf="nextFive">

    <div *ngFor="let team of teams">
      <h2 *ngIf="team.name==selectedTeam.name">The next five matches of my team {{team.name}} <img src="https://squiggle.com.au/{{team.logo}}" style="width:50px;height:50px;">  </h2>
     
   </div>
    <table  class='table'>
            <tr>
            <th>Team</th>
            <th>Opponent</th>
            <th>Venue</th>
            <th>Date</th>
        </tr>
        <tr *ngFor="let detail of nextFive">
            <td>{{detail.hteam}} </td>
            <td>{{detail.ateam}}</td>
            <td>{{detail.venue}}</td>
            <td>{{detail.date}}</td>
        </tr>
    </table>
</div>



