
<div class="sidebar">
  <a class="active" routerLink="/" href="#home">Home</a>
  <a routerLink="/prediction">Prediction</a>

  
  
</div>

<div class="content">
  <div>

  <div *ngIf="!games">


 
  
 

  </div>




 

  <div class="dropdown" style="float:right;margin-right:6%;">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Teams
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li *ngFor="let team of teams" (click)="onSelect(team)"><a>{{team.name}} <img
            src="https://squiggle.com.au/{{team.logo}}" style="width:20px;height:20px;"></a><br></li>



    </ul>
  </div>




  </div>


  <div style="margin-top:5%;" *ngIf="!games">
    <header class="jumbotron my-4" >
      
      <h1 class="display-3">Games Page</h1>
      <p class="lead">Click on the drop down to view your team matches</p>
    
    </header>
  </div>





<div *ngIf="games">

  <div *ngFor="let team of teams">
    <h2 *ngIf="team.name==selectedTeam.name">Results of all the matches played by {{team.name}} <img
        src="https://squiggle.com.au/{{team.logo}}" style="width:50px;height:50px;"> </h2>

  </div>
  <app-team-details [games]="games" *ngIf="games" id="firstTable"></app-team-details>

</div>

<div *ngIf="wins">

  <div *ngFor="let team of teams">
    <h2 *ngIf="team.name==selectedTeam.name">Venues where {{team.name}} <img src="https://squiggle.com.au/{{team.logo}}"
        style="width:50px;height:50px;"> has won this season so far </h2>

  </div>
  <table class='table'>

    <tr>
      <th>Away Team</th>
      <th>Home Team</th>
      <th>Winning Venues</th>

    </tr>

    <tr *ngFor="let win of wins">
      <td>{{win.ateam}}</td>
      <td>{{win.hteam}}</td>
      <td>{{win.venue}}</td>


    </tr>


  </table>


</div>


<div *ngIf="nextFive">

  <div *ngFor="let team of teams">
    <h2 *ngIf="team.name==selectedTeam.name">The next five matches of my team {{team.name}} <img
        src="https://squiggle.com.au/{{team.logo}}" style="width:50px;height:50px;"> </h2>

  </div>
  <table class='table'>
    <tr>
      <th>Team</th>
      <th>Opponent</th>
      <th>Venue</th>
      <th>Date</th>
    </tr>
    <tr *ngFor="let detail of nextFive">
      <td>{{detail.hteam}} </td>
      <td>{{detail.ateam}}</td>
      <td>{{detail.venue}}</td>
      <td>{{detail.date}}</td>
    </tr>
  </table>
</div>