
<div class="sidebar">
  <a class="active" routerLink="/" href="#home">Home</a>
  <a routerLink="/prediction">Prediction</a>

  
  
</div>

<div class="content">
  <div>

  <div *ngIf="!games">


 
  
 

  </div>




 

  <div class="dropdown" style="float:right;margin-right:6%;">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Teams
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" style="opacity: 1.1;">
      <li *ngFor="let team of teams" (click)="onSelect(team)"><img
            src="https://squiggle.com.au/{{team.logo}}" style="width:20px;height:20px;"><a>{{team.name}} </a><br></li>



    </ul>
  </div>




  </div>


  <div style="margin-top:5%;" *ngIf="!games">
    <header class="jumbotron " height=150%  style="background-color: rgb(43, 43, 173);color:white;text-align: center;">
      
      <h1 class="display-1">Games Page</h1>
      <p class="lead"><u>Click on the drop down to view your team matches</u></p>
    
    </header>
  </div>





<div *ngIf="games">

  <div *ngFor="let team of teams">
    <h2 *ngIf="team.name==selectedTeam.name" class="lead"><u>Results of all the matches played by {{team.name}} <img
        src="https://squiggle.com.au/{{team.logo}}" style="width:30px;height:30px;"></u> </h2>

  </div>
  <app-team-details [games]="games" *ngIf="games" id="firstTable"></app-team-details>

</div>

<div *ngIf="wins">

  <div *ngFor="let team of teams">
    <h2 *ngIf="team.name==selectedTeam.name" class="lead"><u>Venues where {{team.name}} <img src="https://squiggle.com.au/{{team.logo}}"
        style="width:30px;height:30px;"> has won this season so far</u> </h2>

  </div>
  <table class='table'>

    <tr>
      <th>Away Team</th>
      <th>Home Team</th>
      <th>Winning Venues</th>

    </tr>

    <tr *ngFor="let win of wins">
      <td>{{win.ateam}}</td>
      <td>{{win.hteam}}</td>
      <td>{{win.venue}}</td>


    </tr>


  </table>


</div>


<div *ngIf="nextFive">

  <div *ngFor="let team of teams">
    <h2 *ngIf="team.name==selectedTeam.name" class="lead">The next five matches of my team {{team.name}} <img
        src="https://squiggle.com.au/{{team.logo}}" style="width:50px;height:50px;"> </h2>

  </div>
  <table class='table'>
    <tr>
      <th>Team</th>
      <th>Opponent</th>
      <th>Venue</th>
      <th>Date</th>
    </tr>
    <tr *ngFor="let detail of nextFive">
      <td>{{detail.hteam}} </td>
      <td>{{detail.ateam}}</td>
      <td>{{detail.venue}}</td>
      <td>{{detail.date}}</td>
    </tr>
  </table>
</div>