

/* 

table {
    counter-reset: rowNumber;
  }
  
.rows::before {
    display: table-cell;
    counter-increment: rowNumber;
    content: counter(rowNumber) ".";
  
    text-align: center;
  }



   */


   .footy{
    text-align:center;
    height:80%;
    width:80%
   }


  #main{
    overflow: auto;
  }





  th{
    background-color: #77cc6d;
}

tr:hover{

    cursor: pointer;
    background-color:rgba(20,20,20,0.2);



}


button{
 
  text-align: center;
}

button a{
  color:white;
  padding:20px;
  

}

.rightNav{
  margin-right:20px;
  

}


#first{

  



}


#second{

  width:98%

 



}

#third{

width:98%

}

.table{
  width:80%;
}




